.main-screen {
	position: relative;
	overflow: hidden;
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include inner-block;
		min-height: 770px;
		margin-top: 0;
		margin-bottom: 0;
		position: relative;
		&:after {
			content: '';
			width: 736px;
			height: 832px;
			display: block;
			background: url('../images/illustations/main.png') no-repeat;
			@include image-2x('../images/illustations/main@2x.png', 832px, 736px);
			position: absolute;
			top: -18px;
			right: -181px;
			@media #{$M_SMX} {
				height: 300px;
				background-size: contain;
				background-position: 50% 50%;
				position: relative;
				top: 0;
				right: -31px;
			}
		}
		@media #{$M_SMX} {
			flex-direction: column;
			justify-content: center;
			min-height: auto;
			padding-top: 30px;
			text-align: center;
		}
	}
	&-info {
		width: 40%;
		padding: 0 0 76px;
		position: relative;
		color: #303047;
		@media #{$M_MD} {
			width: 50%
		}
		@media #{$M_SMX} {
			width: 100%;
			padding: 0;
		}
		&__title {
			padding: 0 0 27px;
			@include font-heavy;
			font-size: 5.4rem;
			line-height: 6.6rem;
			@media #{$M_SMX} {
				padding: 0 0 20px;
				font-size: 3.5rem;
				line-height: 4.5rem;
			}
		}
		&__article {
			width: 80%;
			font-size: 2.6rem;
			line-height: 4rem;
			@media #{$M_SMX} {
				width: 100%;
				font-size: 2rem;
				line-height: 3rem;
			}
		}
		&__button {
			margin: 70px 0 0;
			padding: 0 50px;
			background-color: $blue;
			display: inline-block;
			border-radius: 4px;
			@include font-heavy;
			font-size: 2.2rem;
			line-height: 6.4rem;
			color: $white;
			&:hover {
				background-color: $link-hover;
				color: $white;
			}
			@media #{$M_SMX} {
				margin: 35px 0 0;
			}
		}
	}
}