+b('section').main-screen
	+e.inner
		+b.main-screen-info
			+e('h1').title Open Real-Time Bidding Platform
			+e('p').article Focusing on your business, not the infrastructure!
			+e('a').button Get a Demo