extends ../templates/layouts/default

block vars
	- var bodyClasses = 'thank-you-page'

block content
	include ../templates/partials/thanks/thanks
script(src='assets/scripts/tools.js', type='text/javascript')