meta(charset='utf-8')
title=TITLE
meta(name='viewport', content=VIEWPORT_CONTENT)
meta(name='description', content=DESCRIPTION)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="imagetoolbar" content="no")
meta(name="msthemecompatible", content="no")
meta(name="cleartype", content="on")
meta(name="HandheldFriendly", content="True")
meta(name="format-detection", content="telephone=no")
meta(name="format-detection", content="address=no")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/images/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/images/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/images/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/images/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="assets/images/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="assets/images/favicon/favicon-16x16.png" sizes="16x16" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png" />
meta(name='apple-mobile-web-app-title', content=TITLE)
meta(name='application-name', content=TITLE)
meta(property='og:title', content=TITLE)
meta(property='og:site_name', content=TITLE)
meta(property='og:title', content=TITLE)
meta(property='og:description', content=DESCRIPTION)

link(href='assets/stylesheets/style.css', type='text/css', rel='stylesheet')

!= "<!-- [if gte IE 9]"
style.
	.gradient {
		filter: none;
	}
!= "![endif]-->"
