.content {
	margin: 0 auto;
	position: relative;
	&__item {
		position: relative;
		overflow: hidden;
		&-inner {
			@include inner-block;
			position: relative;
		}
		&-screen {
			display: flex;
			align-items: center;
			max-width: 1440px;
			padding: 188px 0 200px;
			border-bottom: 1px solid #ebebeb;
			position: relative;
			@media #{$M_SM3X} {
				min-height: auto !important;
			}
			@media #{$M_XSM} {
				flex-direction: column;
				padding: 28px 0 40px;
			}
		}
		&--right-txt {
			.content__item-screen {
				justify-content: flex-end;
				@media #{$M_XSM} {
					justify-content: flex-start;
				}
			}
		}
		&--img-1 {
			.content__item-screen {
				min-height: 789px;
				&:before {
					content: '';
					width: 561px;
					height: 659px;
					display: block;
					background: url('../images/illustations/api.png') no-repeat 0 0;
					@include image-2x('../images/illustations/api@2x.png', 561px, 659px);
					position: absolute;
					top: 65px;
					left: -41px;
				}
			}
			@media #{$M_SM3X} {
				.content__item-screen {
					&:before {
						width: 42%;
						height: 100%;
						background-size: 100% auto;
						background-position: 50% 50%;
						top: 0;
						left: -24px;
					}
				}
			}
			@media #{$M_XSM} {
				.content__item-screen {
					min-height: auto;
					&:before {
						width: 250px;
						height: 300px;
						margin: 0 0 30px;
						position: relative;
						top: 0;
						left: 0;
						background-size: cover;
						background-position: 50% 0;
					}
				}
			}
		}
		&--img-2 {
			.content__item-screen {
				min-height: 827px;
				&:before {
					content: '';
					width: 613px;
					height: 737px;
					display: block;
					background: url('../images/illustations/data_exp_imp.png') no-repeat 0 0;
					@include image-2x('../images/illustations/data_exp_imp@2x.png', 613px, 737px);
					position: absolute;
					top: 109px;
					right: -67px;
				}
			}
			@media #{$M_SM3X} {
				.content__item-screen {
					&:before {
						width: 50%;
						height: 100%;
						background-size: 100% auto;
						background-position: 50% 70%;
						top: 0;
						right: -50px;
					}
				}
			}
			@media #{$M_XSM} {
				.content__item-screen {
					min-height: auto;
					&:before {
						width: 250px;
						height: 300px;
						position: relative;
						top: 10px;
						left: 0;
						background-size: cover;
						background-position: 50% 100%;
					}
				}
			}
		}
		&--img-3 {
			.content__item-screen {
				min-height: 838px;
				&:before {
					content: '';
					width: 300px;
					width: 388px;
					height: 613px;
					display: block;
					background: url('../images/illustations/custom.png') no-repeat 0 0;
					@include image-2x('../images/illustations/custom@2x.png', 388px, 613px);
					position: absolute;
					top: 82px;
					left: -2px;
				}
			}
			@media #{$M_SM3X} {
				.content__item-screen {
					&:before {
						width: 35%;
						height: 100%;
						background-size: 100% auto;
						background-position: 50% 50%;
						top: 0;
						left: 0;
					}
				}
			}
			@media #{$M_XSM} {
				.content__item-screen {
					min-height: auto;
					&:before {
						width: 300px;
						height: 300px;
						margin: 0 0 30px;
						position: relative;
						top: 5px;
						left: 0;
						background-size: contain;
						background-position: 50% 0;
					}					
				}
			}
		}
		&--img-4 {
			.content__item-screen {
				min-height: 701px;
				&:before {
					content: '';
					width: 583px;
					height: 702px;
					display: block;
					background: url('../images/illustations/transp.png') no-repeat 0 0;
					@include image-2x('../images/illustations/transp@2x.png', 702px, 583px);
					position: absolute;
					top: 28px;
					right: -86px;
				}
			}
			@media #{$M_SM3X} {
				.content__item-screen {
					&:before {
						width: 55%;
						height: 100%;
						background-size: 100% auto;
						background-position: 50% 50%;
						top: 0;
						right: -130px;
					}
				}
			}
			@media #{$M_XSM} {
				.content__item-screen {
					min-height: auto;
					&:before {
						width: 300px;
						height: 300px;
						position: relative;
						top: -10px;
						left: 40px;
						background-size: cover;
						background-position: 50% 0;
					}					
				}
			}
		}
		&--img-5 {
			.content__item-screen {
				min-height: 795px;
				&:before {
					content: '';
					width: 535px;
					height: 589px;
					display: block;
					background: url('../images/illustations/on-p.png') no-repeat 0 0;
					@include image-2x('../images/illustations/on-p@2x.png', 589px, 535px);
					position: absolute;
					top: 216px;
					left: -84px;
				}
			}
			@media #{$M_SM3X} {
				.content__item-screen {
					&:before {
						width: 50%;
						height: 100%;
						background-size: 100% auto;
						background-position: 50% 60%;
						top: 0;
						left: -70px;
					}
				}
			}
			@media #{$M_XSM} {
				.content__item-screen {
					min-height: auto;
					&:before {
						width: 300px;
						height: 300px;
						position: relative;
						top: 20px;
						left: 0;
						background-size: cover;
						background-position: 50% 0;
					}					
				}
			}
		}
	}
	&__info {
		width: 480px;
		@media #{$M_XSM} {
			width: 100%;
			text-align: center;
		}
	}
	&__title {
		padding: 0 0 29px;
		@include font-bold;
		font-size: 3.6rem;
		line-height: 4.8rem;
		@media #{$M_XSM} {
			padding: 0 0 15px;
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
	}
	&__article {
		@include font-medium;
		font-size: 2.2rem;
		line-height: 3.8rem;
		@media #{$M_XSM} {
			font-size: 1.7rem;
			line-height: 3rem;
		}
	}
	&__button {
		margin: 25px 0 0;
		padding: 0 40px;
		display: inline-block;
		border: 2px solid #d0e0fe;
		border-radius: 4px;
		@include font-heavy;
		font-size: 2.2rem;
		line-height: 6rem;
		@media #{$M_XSM} {
			padding: 0 30px;
			font-size: 1.7rem;
			line-height: 4.7rem;
		}
		&:hover {
			border-color: #e4eeff;
			background-color: #e4eeff;
			color: $link;
		}
	}
}