+b('section').content
	+e.item.--right-txt.--img-1
		+e.item-inner
			+e.item-screen
				+e.info
					+e('h2').title Real-Time API
					+e('p').article Our Powerful API allows you to build your own platform and bring your algorythms and data with you. We know that every platform is different. That’s why you can create your own campaign managment and reporting interface.
					+e('a').button(href="#") How it Works
	+e.item.--left-txt.--img-2
		+e.item-inner
			+e.item-screen
				+e.info
					+e('h2').title Data Export &amp; Import
					+e('p').article With data managment capabilities you can do build your own platform and bring your algorythms and data with you. We know that every platform is different. That’s way you can create your own campaign managment and reporting interface.
					+e('a').button(href="#") How it Works
	+e.item.--right-txt.--img-3
		+e.item-inner
			+e.item-screen
				+e.info
					+e('h2').title 
						| Customizable analytics 
						br 
						|and real-time reports
					+e('p').article Recieve access to a world-class business intelligence tools. We help you create and manage reports according to your needs. Track conversation at each stage of sales funnel in real time.
					+e('a').button(href="#") How it Works
	+e.item.--left-txt.--img-4
		+e.item-inner
			+e.item-screen
				+e.info
					+e('h2').title Transparency
					+e('p').article Connect your SSPs, Ad Exchanges and Header Bidding supply sources to Platform.io for complete media buying transparency.
					+e('a').button(href="#") How it Works
	+e.item.--right-txt.--img-5
		+e.item-inner
			+e.item-screen
				+e.info
					+e('h2').title On-preimises
					+e('p').article With us your data is safe, we don’t share it with anyone. At the same time for you everything is transparent. No hidden fees - you work directly with your supply and demand and control every step of the process.
					+e('a').button(href="#") How it Works
