.logotypes {
	background-color: $light-grey;
	@media #{$M_XSM} {
		overflow-x: scroll;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include inner-block;
		height: 135px;
		position: relative;
		@media #{$M_XSM} {
			height: 90px;
			justify-content: flex-start;
		}
	}
	&__item {
		@media #{$M_SMX} {
			padding: 0 30px 0 0;
			flex-shrink: 0;
		}
	}
}