+b('section').logotypes
	+e('ul').inner
		+e('li').item 
			+e('img')(src="assets/images/logos/google.png", srcset="assets/images/logos/google.png 1x, assets/images/logos/google@2x.png 2x" alt="Google")
		+e('li').item 
			+e('img')(src="assets/images/logos/mopub.png", srcset="assets/images/logos/mopub.png 1x, assets/images/logos/mopub@2x.png 2x" alt="Mopub")
		+e('li').item 
			+e('img')(src="assets/images/logos/pulsepoint.png", srcset="assets/images/logos/pulsepoint.png 1x, assets/images/logos/pulsepoint@2x.png 2x" alt="Pulsepoint")
		+e('li').item 
			+e('img')(src="assets/images/logos/polymorph.png", srcset="assets/images/logos/polymorph.png 1x, assets/images/logos/polymorph@2x.png 2x" alt="Polymorph")
		+e('li').item 
			+e('img')(src="assets/images/logos/integral.png", srcset="assets/images/logos/integral.png 1x, assets/images/logos/integral@2x.png 2x" alt="Integral")