html,
body {
	height: 100%;
	position: relative;
}

html {
	padding: 0;
	margin: 0;
	font-size: $font-size-root;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
	font-family: $font;
	font-size: $font-size;
	background-color: $white;
	@include font-smoothing(on);
	text-rendering: optimizeLegibility;
	font-smooth: always;
	color: #27272d;
}

a {
	color: $link;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		color: $link-hover;
		text-decoration: none;
	}
}

p {
	margin: 0;
	& + p {
		margin-top: 20px;
	}
}

strong {
	font-weight: $bold;
}

.dnone {
	display: none;
}

.title-h2 {
	padding: 0 0 45px;
	font-size: 36px;
	font-weight: bold;
}

.nolink {
	text-decoration: none;
	color: $text;
	&:hover {
		text-decoration: none;
		color: $text;
	}
}

.button-1 {
	padding: 0 40px;
	display: inline-block;
	border: 2px solid #d0e0fe;
	border-radius: 4px;
	@include font-heavy;
	font-size: 2.2rem;
	line-height: 6rem;
	@media #{$M_XSM} {
		padding: 0 30px;
		font-size: 1.7rem;
		line-height: 4.7rem;
	}
	&:hover {
		border-color: #e4eeff;
		background-color: #e4eeff;
		color: $link;
	}
}

/*Conatainer*/
#container {
	min-height: 100%;
	position: relative;
	padding-top: 115px;
	z-index: 10;
	@media #{$M_SMX} {
		padding-top: 70px;
	}
}