doctype html
include ../vendor/bemto

block vars
- var rootClasses = rootClasses || '';
- var bodyClasses = bodyClasses || '';
- var bodyClass = bodyClass || '';
- var TITLE = ''
- var DESCRIPTION = ''
- var VIEWPORT_CONTENT = VIEWPORT_CONTENT || 'width=device-width, initial-scale=1, maximum-scale=1, minimal-ui';

html(class=rootClasses)
	head
		include ../partials/head/head
		block head

	body(class=bodyClasses)
		block content

	block scripts
		script(src='assets/scripts/vendor/jquery-2.2.4.min.js')
		script(src='assets/scripts/tools.js')
		
	block extraScripts