@mixin inner-block {
	max-width: 1200px;
	padding-right: 60px;
	padding-left: 60px;
	margin-right: auto;
	margin-left: auto;
	@media #{$M_SMX} {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@mixin font-medium{
	font-family: 'latomedium', $font-base;
}

@mixin font-semibold {
	font-family: 'latosemibold', $font-base;
}

@mixin font-bold {
	font-family: 'latobold', $font-base;
}

@mixin font-heavy {
	font-family: 'latoheavy', $font-base;
}

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin visually-hidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

@mixin font-smoothing($value: on) {
	@if $value == on {
		font-smoothing: antialiased;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
		-ms-font-smoothing: antialiased;
		-o-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	} @else if $value == off {
		font-smoothing: none;
		-webkit-font-smoothing: none;
		-moz-font-smoothing: none;
		-ms-font-smoothing: none;
		-o-font-smoothing: none;
		-moz-osx-font-smoothing: unset;
	} @else {
		font-smoothing: subpixel-antialiased;
		-webkit-font-smoothing: subpixel-antialiased;
		-moz-font-smoothing: subpixel-antialiased;
		-ms-font-smoothing: subpixel-antialiased;
		-o-font-smoothing: subpixel-antialiased;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin fixed($top: auto, $right: auto, $bottom: auto, $left: auto) {
	position: fixed;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
		 (-o-min-device-pixel-ratio: 2.6/2),
		 (-webkit-min-device-pixel-ratio: 1.3),
		 (min-device-pixel-ratio: 1.3),
		 (min-resolution: 1.3dppx) {
	/* on retina, use image that's scaled by 2 */
	background-image: url($image);
	background-size: $width $height;
  }
}