.review {
	position: relative;
	&__item {
		position: relative;
		&-inner {
			@include inner-block;
			position: relative;
		}
		&-screen {
			min-height: 607px;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			width: 100%;
			position: relative;
			justify-content: space-between;
			@media #{$M_SM2X} {
				min-height: 580px
			}
			@media #{$M_XSM} {
				padding: 40px 0;
				display: block;
				min-height: auto;
			}
			&:before {
				content: '';
				display: block;
				@media #{$M_XSM} {
					margin: 0 0 40px;
				}				
			}
		}
		&--right-txt {
			.review__item-screen {
				flex-direction: row;
			}
		}
		&--blue-1 {
			background: #235bfc;
			.review__item-screen {
				&:before {
					width: 383px;
					height: 347px;
					background: url('../images/case/1.png') no-repeat 0 0;
					@include image-2x('../images/case/1@2x.png', 383px, 347px);					
				}
				@media #{$M_SM2X} {
					&:before {
						width: 275px;
						height: 250px;
						background-size: auto 250px;
					}
				}
				@media #{$M_XSM} {
					&:before {
						width: 100%;
						height: 230px;
						background-size: auto 230px;
						background-position: 50% 0;
					}
				}
			}
			.review__button {
				color: #235bfc;
				&:hover {
					color: $blue;
				}
			}
		}
		&--blue-2 {
			background: #236cfc;
			.review__item-screen {
				&:before {
					width: 393px;
					height: 183px;
					background: url('../images/case/2.png') no-repeat 100% 50%;
					@include image-2x('../images/case/2@2x.png', 393px, 183px);
				}
				@media #{$M_SM2X} {
					&:before {
						width: 321px;
						height: 150px;
						background-size: auto 150px;
					}
				}
				@media #{$M_XSM} {
					&:before {
						width: 100%;
						height: 120px;
						background-size: auto 120px;
						background-position: 50% 0;
					}
				}
			}
			.review__button {
				color: #236cfc;
				&:hover {
					color: $blue;
				}
			}
		}
		&--blue-3 {
			background: #2390fc;
			.review__item-screen {
				&:before {
					width: 340px;
					height: 179px;
					background: url('../images/case/3.png') no-repeat 0 50%;
					@include image-2x('../images/case/3@2x.png', 340px, 179px);
				}
				@media #{$M_SM2X} {
					&:before {
						width: 275px;
						height: 145px;
						background-size: auto 145px;
					}
				}
				@media #{$M_XSM} {
					&:before {
						width: 100%;
						height: 118px;
						background-size: auto 118px;
						background-position: 50% 0;
					}
				}
			}
			.review__button {
				color: #2390fc;
				&:hover {
					color: $blue;
				}
			}
		}
		&--blue-4 {
			background: #23b2fc;
			.review__item-screen {
				&:before {
					width: 340px;
					height: 179px;
					background: url('../images/case/5.png') no-repeat 100% 50%;
					@include image-2x('../images/case/5@2x.png', 340px, 179px);	
				}
				@media #{$M_SM2X} {
					&:before {
						width: 283px;
						height: 150px;
						background-size: auto 150px;
					}
				}
				@media #{$M_XSM} {
					&:before {
						width: 100%;
						height: 118px;
						background-size: auto 118px;
						background-position: 50% 0;
					}
				}
			}
			.review__button {
				color: #23b2fc;
				&:hover {
					color: $blue;
				}
			}
		}
		&--blue-5 {
			background: #23ccfc;
			.review__item-screen {

			}
			.review__button {
				color: #23ccfc;
				&:hover {
					color: $blue;
				}
			}
		}
	}
	&__info {
		width: 480px;
		@media #{$M_XSM} {
			width: auto;
			text-align: center;
		}
	}
	&__tags {
		padding: 0 0 21px;
		&-item{
			padding: 0 15px;
			margin: 0 10px 10px 0;
			background: rgba(0, 0, 0, .2);
			display: inline-block;
			border-radius: 3px;
			color: $white;
			line-height: 2.9rem;
		}
	}
	&__title {
		padding: 0 0 29px;
		@include font-bold;
		font-size: 3.6rem;
		line-height: 4.8rem;
		@media #{$M_XSM} {
			font-size: 2.6rem;
			line-height: 3.6rem;
		}
	}
	&__article {
		@include font-medium;
		font-size: 2.6rem;
		line-height: 3.8rem;
		color: $white;
		@media #{$M_XSM} {
			font-size: 2.1rem;
			line-height: 3.1rem;
		}
	}
	&__button {
		margin: 50px 0 0;
		padding: 0 40px;
		background-color: $white;
		display: inline-block;
		border-radius: 4px;
		@include font-heavy;
		position: relative;
		font-size: 2.2rem;
		line-height: 6.4rem;
		&:hover {
			background-color: $white;
			color: $blue;
		}
		@media #{$M_XSM} {
			padding: 0 30px;
			margin: 35px 0 0;
			font-size: 2rem;
			line-height: 6.1rem;
		}
	}
}