+b('section').review
	+e.item.--blue-1.--right-txt
		+e.item-inner
			+e.item-screen
				+e.info
					+e.tags
						+e('span').tags-item Data Export
						+e('span').tags-item Machine Learning
						+e('span').tags-item Real-Time API
						+e('span').tags-item Media Buying
					+e('p').article App developer would like to increase their user acquisition efficiency so he needs info on the users to be able to tailor the message to the audience, enhance targeting and target those who are more likely to convert. 
					+e('a').button(href="#") Download PDF
	+e.item.--blue-2.--left-txt
		+e.item-inner
			+e.item-screen
				+e.info
					+e.tags
						+e('span').tags-item Data Import
						+e('span').tags-item Segmentation
						+e('span').tags-item Media Buying 
					+e('p').article Mobile carrier wants to target the subscribers who are about to churn or would like to switch carriers.
					+e('a').button(href="#") Download PDF
	+e.item.--blue-3.--right-txt
		+e.item-inner
			+e.item-screen
				+e.info
					+e.tags
						+e('span').tags-item Integration
						+e('span').tags-item Real-Time API
					+e('p').article Ad Tech developer would like to build a new product that has media buying capabilities, but doesn’t want to invest time into building RTB infrastructure.
					+e('a').button(href="#") Download PDF
	+e.item.--blue-4.--left-txt
		+e.item-inner
			+e.item-screen
				+e.info
					+e.tags
						+e('span').tags-item Customization 
						+e('span').tags-item Real-Time API
					+e('p').article SSP / Ad network would like to launch self-serve programmatic DSP on their inventory.
					+e('a').button(href="#") Download PDF