.top {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	&.header-sticky {
		position: fixed;
		box-shadow: 1px 0 5px rgba(0,0,0,.5);
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		max-width: 1440px;
		min-height: 115px;
		padding: 40px 60px 0;
		margin: 0 auto;
		position: relative;
		// transition: all .2s ease;
		.header-sticky & {
			min-height: 86px;
			padding-top: 23px;
		}
		@media #{$M_SMX} {
			.header-sticky & {
				min-height: auto;
				padding: 20px 30px;
			}
			align-items: center;
			min-height: auto;
			padding: 20px 30px;
		}
	}
	&-logo {
		position: relative;
		& > img {
			width: 100%;
			max-width: 135px;
			height: auto;
		}
	}
	&-nav {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		position: relative;
		top: -2px;
		font-size: 1.8rem;
		@include font-semibold;
		@media #{$M_SMX} {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100vw;
			height: 100vh;
			font-size: 3rem;
		}
		&__item {
			padding: 10px 15px;
			margin: 0 20px;
			display: inline-block;
			color: $dark-blue;
			&:hover {
				color: $blue;
			}
			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			@media #{$M_SMX} {
				color: #fff;
				padding: 15px 0;
				margin: 0;
				&:hover {
					color: #fff;
				}
			}
			&--active {
				color: $blue;
				cursor: default;
				@media #{$M_SMX} {
					color: rgba(255,255,255, 0.3);
					&:hover {
						color: rgba(255,255,255, 0.3);
					}
				}
			}
		}
	}
	&__nav-wrap {
		@media #{$M_SMX} {
			display: none;
			position: fixed;
			overflow: auto;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			z-index: 100;
			.mob-nav-active & {
				display: block;
			}
		}
	}
	&__nav-mob {
		display: none;
		@media #{$M_SMX} {
			display: block;
		}
	}
}
// .mob-nav
.mobile-nav {
	display: block;
	width: 30px;
	height: 26px;
	padding-top: 13px;
	position: relative;
	z-index: 101;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
		top: -9px;
	}
	span {
		position: relative;
		display: block;
	}
	span:after {
		top: 9px;
	}
	
	span,
	span:after,
	span:before {
		width: 100%;
		height: 3px;
		background-color: $dark-blue;
		transition: all 0.3s;
		// backface-visibility: hidden;
		border-radius: 2px;
		.mob-nav-active & {
			@media #{$M_SMX} {
				// background-color: #fff;
			}
		}
	}
	.mob-nav-active & {
		@media #{$M_SMX} {
			span {
				background-color: transparent;
			}
			span:before {
				transform: rotate(45deg) translate(3px, 7px);
			}
			span:after {
				transform: rotate(-45deg) translate(5px, -10px);
			}
		}
	}
}
.overlay-layer {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	min-height: 100%;
	width: 100%;
	background: rgba(20, 20, 34, .95);
	z-index: 40;
	.mob-nav-active & {
		@media #{$M_SMX} {
			display: block;
		}
	}
}
.mob-nav-active {
	@media #{$M_SMX} {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
	}
}