+b('header').top
	+e.inner
		+b.top-logo
			+e('a')(href="#")
				+e('img')(src="assets/images/logo.svg", width="190", height="34", alt="platform.io")
		+e.nav-wrap
			+b('nav').top-nav
				+e('a').item How to Work
				+e('a').item.--active Use Case
				+e('a').item Blog
				+e('a').item White Lable DSP

		+e.nav-mob
			+b(href="#").mobile-nav
				span