+b#container
	include ../../partials/top/top
	include ../../partials/main-screen/main-screen
	include ../../partials/logotypes/logotypes
	include ../../partials/content/content
	include ../../partials/benefits/benefits
	include ../../partials/try/try
	include ../../partials/contacts/contacts
	include ../../partials/bottom/bottom
	.overlay-layer