@font-face {
	font-family: 'latoregular';
	src: url('../fonts/lato-regular-webfont.eot');
	src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-regular-webfont.woff2') format('woff2'),
		 url('../fonts/lato-regular-webfont.woff') format('woff'),
		 url('../fonts/lato-regular-webfont.ttf') format('truetype'),
		 url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latomedium';
	src: url('../fonts/lato-medium-webfont.eot');
	src: url('../fonts/lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-medium-webfont.woff2') format('woff2'),
		 url('../fonts/lato-medium-webfont.woff') format('woff'),
		 url('../fonts/lato-medium-webfont.ttf') format('truetype'),
		 url('../fonts/lato-medium-webfont.svg#latomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latosemibold';
	src: url('../fonts/lato-semibold-webfont.eot');
	src: url('../fonts/lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-semibold-webfont.woff2') format('woff2'),
		 url('../fonts/lato-semibold-webfont.woff') format('woff'),
		 url('../fonts/lato-semibold-webfont.ttf') format('truetype'),
		 url('../fonts/lato-semibold-webfont.svg#latosemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latobold';
	src: url('../fonts/lato-bold-webfont.eot');
	src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-bold-webfont.woff2') format('woff2'),
		 url('../fonts/lato-bold-webfont.woff') format('woff'),
		 url('../fonts/lato-bold-webfont.ttf') format('truetype'),
		 url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'latoheavy';
	src: url('../fonts/lato-heavy-webfont.eot');
	src: url('../fonts/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/lato-heavy-webfont.woff2') format('woff2'),
		 url('../fonts/lato-heavy-webfont.woff') format('woff'),
		 url('../fonts/lato-heavy-webfont.ttf') format('truetype'),
		 url('../fonts/lato-heavy-webfont.svg#latoheavy') format('svg');
	font-weight: normal;
	font-style: normal;
}