.intro {
	// margin-top: 115px;
	padding: 85px 0 113px;
	position: relative;
	text-align: center;
	@media #{$M_XSM} {
		padding: 30px 0 50px;
	}
	@media #{$M_SMX} {
		// margin-top: 70px;
	}
	&__inner {
		@include inner-block;
	}
	&__title {
		padding: 0 0 29px;
		font-size: 3.4rem;
		@media #{$M_XSM} {
			padding: 0 0 15px;
			font-size: 3rem;
			line-height: 4rem;
		}
	}
	&__text {
		font-size: 2rem;
		line-height: 3rem;
		@media #{$M_XSM} {
			font-size: 1.7rem;
			line-height: 2.7rem;
		}
	}
}