.benefits {
	padding: 127px 0 117px;
	position: relative;
	@media #{$M_XSM} {
		padding: 20px 0 25px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		max-width: 1200px;
		padding: 0 150px;
		margin: 0 auto;
		position: relative;
		@media #{$M_XSM} {
			flex-direction: column;
			padding: 0;
		}
	}
	&__item {
		position: relative;
		text-align: center;
		@media #{$M_XSM} {
			padding: 25px 0;
		}
	}
	&__image {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 43px;
		margin: 0 0 17px;
	}
	&__name {
		@include font-medium;
		font-size: 2.2rem;
		color: #7687a6;
		@media #{$M_XSM} {
			font-size: 1.7rem;
		}
	}
}