+b('section').benefits
	+e.inner
		+e.item
			+e.image
				+e('img')(src="assets/images/icons/custom_ui.png", srcset="assets/images/icons/custom_ui.png 1x, assets/images/icons/custom_ui@2x.png 2x" alt="Custom UI")
			+e('p').name Custom UI
		+e.item
			+e.image
				+e('img')(src="assets/images/icons/support.png", srcset="assets/images/icons/support.png 1x, assets/images/icons/support@2x.png 2x" alt="Dedicated Support")
			+e('p').name Dedicated Support
		+e.item
			+e.image
				+e('img')(src="assets/images/icons/campaign.png", srcset="assets/images/icons/campaign.png 1x, assets/images/icons/campaign@2x.png 2x" alt="Campaign API")
			+e('p').name Campaign API