.contacts {
	padding: 79px 0;
	position: relative;
	@media #{$M_XSM} {
		padding: 25px 0 22px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		@include inner-block;
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: $grey;
		@media #{$M_XSM} {
			flex-direction: column;
		}
	}
	&__col {
		@media #{$M_XSM} {
			padding: 12px 0;
			text-align: center;
		}
	}
	&__title {
		padding: 0 0 16px;
		position: relative;
		@include font-heavy;
		font-size: 1.6rem;
		font-weight: normal;
		color: $dark-violet;
		@media #{$M_XSM} {
			padding: 0 0 3px;
		}
	}
	&__article {
		padding: 0 40px 0 0;
		@media #{$M_XSM} {
			padding: 0;
		}
	}
	&__list {
		&-item {
			padding: 0 0 5px;
			&:last-child {
				padding: 0;
			}
		}
	}

}