+b('section').contacts
	+e.inner
		+e.col
			+e('h5').title Representative Office
			+e('p').article 
				| 723 S. Casino Center Blvd.,
				br
				| 2nd Floor, Las Vegas, NV 89101
				br
				| United States
		+e.col
			+e('h5').title R&amp;D Office
			+e('p').article 
				| Oktyabrskaya 16/4
				br
				| Minsk, Belarus
		+e.col
			+e('h5').title Contacts
			+e('p').article Email: 
				+e('a') hello@platform.io
		+e.col
			+e('h5').title Support
			+e('ul').list
				+e('li').list-item
					+e('a') Update
				+e('li').list-item
					+e('a') Platform Status
				+e('li').list-item
					+e('a') Terms of Service
				+e('li').list-item
					+e('a') Privacy Policy