/*Core*/
/*Colors*/
/*Links*/
/*Typography*/
/*Paths*/
/*Media-queries*/
/*Reset*/
*,
*:before,
*:after {
  box-sizing: inherit; }

dl,
dd,
dt,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
p,
form,
html,
body {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  line-height: 1; }

img {
  max-width: 100%;
  border: 0;
  vertical-align: top; }

ol,
ul {
  list-style-type: none; }

:focus {
  outline: none; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ins {
  text-decoration: none; }

input,
textarea,
select {
  margin: 0; }

figure {
  padding: 0;
  margin: 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0; }

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer; }

.dnone {
  display: none; }

/*Typography*/
@font-face {
  font-family: 'latoregular';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff2") format("woff2"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latomedium';
  src: url("../fonts/lato-medium-webfont.eot");
  src: url("../fonts/lato-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-medium-webfont.woff2") format("woff2"), url("../fonts/lato-medium-webfont.woff") format("woff"), url("../fonts/lato-medium-webfont.ttf") format("truetype"), url("../fonts/lato-medium-webfont.svg#latomedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latosemibold';
  src: url("../fonts/lato-semibold-webfont.eot");
  src: url("../fonts/lato-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-semibold-webfont.woff2") format("woff2"), url("../fonts/lato-semibold-webfont.woff") format("woff"), url("../fonts/lato-semibold-webfont.ttf") format("truetype"), url("../fonts/lato-semibold-webfont.svg#latosemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latobold';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff2") format("woff2"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'latoheavy';
  src: url("../fonts/lato-heavy-webfont.eot");
  src: url("../fonts/lato-heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-heavy-webfont.woff2") format("woff2"), url("../fonts/lato-heavy-webfont.woff") format("woff"), url("../fonts/lato-heavy-webfont.ttf") format("truetype"), url("../fonts/lato-heavy-webfont.svg#latoheavy") format("svg");
  font-weight: normal;
  font-style: normal; }

/*Scaffold*/
html,
body {
  height: 100%;
  position: relative; }

html {
  padding: 0;
  margin: 0;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: "latoregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: #FFF;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  color: #27272d; }

a {
  color: #015ffc;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #0253d6;
    text-decoration: none; }

p {
  margin: 0; }
  p + p {
    margin-top: 20px; }

strong {
  font-weight: 700; }

.dnone {
  display: none; }

.title-h2 {
  padding: 0 0 45px;
  font-size: 36px;
  font-weight: bold; }

.nolink {
  text-decoration: none;
  color: #000; }
  .nolink:hover {
    text-decoration: none;
    color: #000; }

.button-1 {
  padding: 0 40px;
  display: inline-block;
  border: 2px solid #d0e0fe;
  border-radius: 4px;
  font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.2rem;
  line-height: 6rem; }
  @media screen and (max-width: 869px) {
    .button-1 {
      padding: 0 30px;
      font-size: 1.7rem;
      line-height: 4.7rem; } }
  .button-1:hover {
    border-color: #e4eeff;
    background-color: #e4eeff;
    color: #015ffc; }

/*Conatainer*/
#container {
  min-height: 100%;
  position: relative;
  padding-top: 115px;
  z-index: 10; }
  @media screen and (max-width: 1023px) {
    #container {
      padding-top: 70px; } }

/*Blocks*/
.top {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff; }
  .top.header-sticky {
    position: fixed;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.5); }
  .top__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1440px;
    min-height: 115px;
    padding: 40px 60px 0;
    margin: 0 auto;
    position: relative; }
    .header-sticky .top__inner {
      min-height: 86px;
      padding-top: 23px; }
    @media screen and (max-width: 1023px) {
      .top__inner {
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        min-height: auto;
        padding: 20px 30px; }
        .header-sticky .top__inner {
          min-height: auto;
          padding: 20px 30px; } }
  .top-logo {
    position: relative; }
    .top-logo > img {
      width: 100%;
      max-width: 135px;
      height: auto; }
  .top-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    top: -2px;
    font-size: 1.8rem;
    font-family: "latosemibold", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    @media screen and (max-width: 1023px) {
      .top-nav {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100vw;
        height: 100vh;
        font-size: 3rem; } }
    .top-nav__item {
      padding: 10px 15px;
      margin: 0 20px;
      display: inline-block;
      color: #303047; }
      .top-nav__item:hover {
        color: #0160fc; }
      .top-nav__item:last-child {
        padding-right: 0;
        margin-right: 0; }
      @media screen and (max-width: 1023px) {
        .top-nav__item {
          color: #fff;
          padding: 15px 0;
          margin: 0; }
          .top-nav__item:hover {
            color: #fff; } }
      .top-nav__item--active {
        color: #0160fc;
        cursor: default; }
        @media screen and (max-width: 1023px) {
          .top-nav__item--active {
            color: rgba(255, 255, 255, 0.3); }
            .top-nav__item--active:hover {
              color: rgba(255, 255, 255, 0.3); } }
  @media screen and (max-width: 1023px) {
    .top__nav-wrap {
      display: none;
      position: fixed;
      overflow: auto;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: 100; }
      .mob-nav-active .top__nav-wrap {
        display: block; } }
  .top__nav-mob {
    display: none; }
    @media screen and (max-width: 1023px) {
      .top__nav-mob {
        display: block; } }

.mobile-nav {
  display: block;
  width: 30px;
  height: 26px;
  padding-top: 13px;
  position: relative;
  z-index: 101; }
  .mobile-nav span:after,
  .mobile-nav span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }
  .mobile-nav span {
    position: relative;
    display: block; }
  .mobile-nav span:after {
    top: 9px; }
  .mobile-nav span,
  .mobile-nav span:after,
  .mobile-nav span:before {
    width: 100%;
    height: 3px;
    background-color: #303047;
    transition: all 0.3s;
    border-radius: 2px; }
  @media screen and (max-width: 1023px) {
    .mob-nav-active .mobile-nav span {
      background-color: transparent; }
    .mob-nav-active .mobile-nav span:before {
      -webkit-transform: rotate(45deg) translate(3px, 7px);
          -ms-transform: rotate(45deg) translate(3px, 7px);
              transform: rotate(45deg) translate(3px, 7px); }
    .mob-nav-active .mobile-nav span:after {
      -webkit-transform: rotate(-45deg) translate(5px, -10px);
          -ms-transform: rotate(-45deg) translate(5px, -10px);
              transform: rotate(-45deg) translate(5px, -10px); } }

.overlay-layer {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: rgba(20, 20, 34, 0.95);
  z-index: 40; }
  @media screen and (max-width: 1023px) {
    .mob-nav-active .overlay-layer {
      display: block; } }

@media screen and (max-width: 1023px) {
  .mob-nav-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; } }

.main-screen {
  position: relative;
  overflow: hidden; }
  .main-screen__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    min-height: 770px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .main-screen__inner {
        padding-right: 30px;
        padding-left: 30px; } }
    .main-screen__inner:after {
      content: '';
      width: 736px;
      height: 832px;
      display: block;
      background: url("../images/illustations/main.png") no-repeat;
      position: absolute;
      top: -18px;
      right: -181px; }
      @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .main-screen__inner:after {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../images/illustations/main@2x.png");
          background-size: 832px 736px; } }
      @media screen and (max-width: 1023px) {
        .main-screen__inner:after {
          height: 300px;
          background-size: contain;
          background-position: 50% 50%;
          position: relative;
          top: 0;
          right: -31px; } }
    @media screen and (max-width: 1023px) {
      .main-screen__inner {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        min-height: auto;
        padding-top: 30px;
        text-align: center; } }
  .main-screen-info {
    width: 40%;
    padding: 0 0 76px;
    position: relative;
    color: #303047; }
    @media screen and (max-width: 1199px) {
      .main-screen-info {
        width: 50%; } }
    @media screen and (max-width: 1023px) {
      .main-screen-info {
        width: 100%;
        padding: 0; } }
    .main-screen-info__title {
      padding: 0 0 27px;
      font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 5.4rem;
      line-height: 6.6rem; }
      @media screen and (max-width: 1023px) {
        .main-screen-info__title {
          padding: 0 0 20px;
          font-size: 3.5rem;
          line-height: 4.5rem; } }
    .main-screen-info__article {
      width: 80%;
      font-size: 2.6rem;
      line-height: 4rem; }
      @media screen and (max-width: 1023px) {
        .main-screen-info__article {
          width: 100%;
          font-size: 2rem;
          line-height: 3rem; } }
    .main-screen-info__button {
      margin: 70px 0 0;
      padding: 0 50px;
      background-color: #0160fc;
      display: inline-block;
      border-radius: 4px;
      font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 2.2rem;
      line-height: 6.4rem;
      color: #FFF; }
      .main-screen-info__button:hover {
        background-color: #0253d6;
        color: #FFF; }
      @media screen and (max-width: 1023px) {
        .main-screen-info__button {
          margin: 35px 0 0; } }

.intro {
  padding: 85px 0 113px;
  position: relative;
  text-align: center; }
  @media screen and (max-width: 869px) {
    .intro {
      padding: 30px 0 50px; } }
  .intro__inner {
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 1023px) {
      .intro__inner {
        padding-right: 30px;
        padding-left: 30px; } }
  .intro__title {
    padding: 0 0 29px;
    font-size: 3.4rem; }
    @media screen and (max-width: 869px) {
      .intro__title {
        padding: 0 0 15px;
        font-size: 3rem;
        line-height: 4rem; } }
  .intro__text {
    font-size: 2rem;
    line-height: 3rem; }
    @media screen and (max-width: 869px) {
      .intro__text {
        font-size: 1.7rem;
        line-height: 2.7rem; } }

.review {
  position: relative; }
  .review__item {
    position: relative; }
    .review__item-inner {
      max-width: 1200px;
      padding-right: 60px;
      padding-left: 60px;
      margin-right: auto;
      margin-left: auto;
      position: relative; }
      @media screen and (max-width: 1023px) {
        .review__item-inner {
          padding-right: 30px;
          padding-left: 30px; } }
    .review__item-screen {
      min-height: 607px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
      position: relative;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media screen and (max-width: 1099px) {
        .review__item-screen {
          min-height: 580px; } }
      @media screen and (max-width: 869px) {
        .review__item-screen {
          padding: 40px 0;
          display: block;
          min-height: auto; } }
      .review__item-screen:before {
        content: '';
        display: block; }
        @media screen and (max-width: 869px) {
          .review__item-screen:before {
            margin: 0 0 40px; } }
    .review__item--right-txt .review__item-screen {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .review__item--blue-1 {
      background: #235bfc; }
      .review__item--blue-1 .review__item-screen:before {
        width: 383px;
        height: 347px;
        background: url("../images/case/1.png") no-repeat 0 0; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .review__item--blue-1 .review__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/case/1@2x.png");
            background-size: 383px 347px; } }
      @media screen and (max-width: 1099px) {
        .review__item--blue-1 .review__item-screen:before {
          width: 275px;
          height: 250px;
          background-size: auto 250px; } }
      @media screen and (max-width: 869px) {
        .review__item--blue-1 .review__item-screen:before {
          width: 100%;
          height: 230px;
          background-size: auto 230px;
          background-position: 50% 0; } }
      .review__item--blue-1 .review__button {
        color: #235bfc; }
        .review__item--blue-1 .review__button:hover {
          color: #0160fc; }
    .review__item--blue-2 {
      background: #236cfc; }
      .review__item--blue-2 .review__item-screen:before {
        width: 393px;
        height: 183px;
        background: url("../images/case/2.png") no-repeat 100% 50%; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .review__item--blue-2 .review__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/case/2@2x.png");
            background-size: 393px 183px; } }
      @media screen and (max-width: 1099px) {
        .review__item--blue-2 .review__item-screen:before {
          width: 321px;
          height: 150px;
          background-size: auto 150px; } }
      @media screen and (max-width: 869px) {
        .review__item--blue-2 .review__item-screen:before {
          width: 100%;
          height: 120px;
          background-size: auto 120px;
          background-position: 50% 0; } }
      .review__item--blue-2 .review__button {
        color: #236cfc; }
        .review__item--blue-2 .review__button:hover {
          color: #0160fc; }
    .review__item--blue-3 {
      background: #2390fc; }
      .review__item--blue-3 .review__item-screen:before {
        width: 340px;
        height: 179px;
        background: url("../images/case/3.png") no-repeat 0 50%; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .review__item--blue-3 .review__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/case/3@2x.png");
            background-size: 340px 179px; } }
      @media screen and (max-width: 1099px) {
        .review__item--blue-3 .review__item-screen:before {
          width: 275px;
          height: 145px;
          background-size: auto 145px; } }
      @media screen and (max-width: 869px) {
        .review__item--blue-3 .review__item-screen:before {
          width: 100%;
          height: 118px;
          background-size: auto 118px;
          background-position: 50% 0; } }
      .review__item--blue-3 .review__button {
        color: #2390fc; }
        .review__item--blue-3 .review__button:hover {
          color: #0160fc; }
    .review__item--blue-4 {
      background: #23b2fc; }
      .review__item--blue-4 .review__item-screen:before {
        width: 340px;
        height: 179px;
        background: url("../images/case/5.png") no-repeat 100% 50%; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .review__item--blue-4 .review__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/case/5@2x.png");
            background-size: 340px 179px; } }
      @media screen and (max-width: 1099px) {
        .review__item--blue-4 .review__item-screen:before {
          width: 283px;
          height: 150px;
          background-size: auto 150px; } }
      @media screen and (max-width: 869px) {
        .review__item--blue-4 .review__item-screen:before {
          width: 100%;
          height: 118px;
          background-size: auto 118px;
          background-position: 50% 0; } }
      .review__item--blue-4 .review__button {
        color: #23b2fc; }
        .review__item--blue-4 .review__button:hover {
          color: #0160fc; }
    .review__item--blue-5 {
      background: #23ccfc; }
      .review__item--blue-5 .review__button {
        color: #23ccfc; }
        .review__item--blue-5 .review__button:hover {
          color: #0160fc; }
  .review__info {
    width: 480px; }
    @media screen and (max-width: 869px) {
      .review__info {
        width: auto;
        text-align: center; } }
  .review__tags {
    padding: 0 0 21px; }
    .review__tags-item {
      padding: 0 15px;
      margin: 0 10px 10px 0;
      background: rgba(0, 0, 0, 0.2);
      display: inline-block;
      border-radius: 3px;
      color: #FFF;
      line-height: 2.9rem; }
  .review__title {
    padding: 0 0 29px;
    font-family: "latobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.6rem;
    line-height: 4.8rem; }
    @media screen and (max-width: 869px) {
      .review__title {
        font-size: 2.6rem;
        line-height: 3.6rem; } }
  .review__article {
    font-family: "latomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.6rem;
    line-height: 3.8rem;
    color: #FFF; }
    @media screen and (max-width: 869px) {
      .review__article {
        font-size: 2.1rem;
        line-height: 3.1rem; } }
  .review__button {
    margin: 50px 0 0;
    padding: 0 40px;
    background-color: #FFF;
    display: inline-block;
    border-radius: 4px;
    font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 2.2rem;
    line-height: 6.4rem; }
    .review__button:hover {
      background-color: #FFF;
      color: #0160fc; }
    @media screen and (max-width: 869px) {
      .review__button {
        padding: 0 30px;
        margin: 35px 0 0;
        font-size: 2rem;
        line-height: 6.1rem; } }

.logotypes {
  background-color: #f5f8fe; }
  @media screen and (max-width: 869px) {
    .logotypes {
      overflow-x: scroll; } }
  .logotypes__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    height: 135px;
    position: relative; }
    @media screen and (max-width: 1023px) {
      .logotypes__inner {
        padding-right: 30px;
        padding-left: 30px; } }
    @media screen and (max-width: 869px) {
      .logotypes__inner {
        height: 90px;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  @media screen and (max-width: 1023px) {
    .logotypes__item {
      padding: 0 30px 0 0;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0; } }

.content {
  margin: 0 auto;
  position: relative; }
  .content__item {
    position: relative;
    overflow: hidden; }
    .content__item-inner {
      max-width: 1200px;
      padding-right: 60px;
      padding-left: 60px;
      margin-right: auto;
      margin-left: auto;
      position: relative; }
      @media screen and (max-width: 1023px) {
        .content__item-inner {
          padding-right: 30px;
          padding-left: 30px; } }
    .content__item-screen {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      max-width: 1440px;
      padding: 188px 0 200px;
      border-bottom: 1px solid #ebebeb;
      position: relative; }
      @media screen and (max-width: 1149px) {
        .content__item-screen {
          min-height: auto !important; } }
      @media screen and (max-width: 869px) {
        .content__item-screen {
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 28px 0 40px; } }
    .content__item--right-txt .content__item-screen {
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media screen and (max-width: 869px) {
        .content__item--right-txt .content__item-screen {
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; } }
    .content__item--img-1 .content__item-screen {
      min-height: 789px; }
      .content__item--img-1 .content__item-screen:before {
        content: '';
        width: 561px;
        height: 659px;
        display: block;
        background: url("../images/illustations/api.png") no-repeat 0 0;
        position: absolute;
        top: 65px;
        left: -41px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .content__item--img-1 .content__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/illustations/api@2x.png");
            background-size: 561px 659px; } }
    @media screen and (max-width: 1149px) {
      .content__item--img-1 .content__item-screen:before {
        width: 42%;
        height: 100%;
        background-size: 100% auto;
        background-position: 50% 50%;
        top: 0;
        left: -24px; } }
    @media screen and (max-width: 869px) {
      .content__item--img-1 .content__item-screen {
        min-height: auto; }
        .content__item--img-1 .content__item-screen:before {
          width: 250px;
          height: 300px;
          margin: 0 0 30px;
          position: relative;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: 50% 0; } }
    .content__item--img-2 .content__item-screen {
      min-height: 827px; }
      .content__item--img-2 .content__item-screen:before {
        content: '';
        width: 613px;
        height: 737px;
        display: block;
        background: url("../images/illustations/data_exp_imp.png") no-repeat 0 0;
        position: absolute;
        top: 109px;
        right: -67px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .content__item--img-2 .content__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/illustations/data_exp_imp@2x.png");
            background-size: 613px 737px; } }
    @media screen and (max-width: 1149px) {
      .content__item--img-2 .content__item-screen:before {
        width: 50%;
        height: 100%;
        background-size: 100% auto;
        background-position: 50% 70%;
        top: 0;
        right: -50px; } }
    @media screen and (max-width: 869px) {
      .content__item--img-2 .content__item-screen {
        min-height: auto; }
        .content__item--img-2 .content__item-screen:before {
          width: 250px;
          height: 300px;
          position: relative;
          top: 10px;
          left: 0;
          background-size: cover;
          background-position: 50% 100%; } }
    .content__item--img-3 .content__item-screen {
      min-height: 838px; }
      .content__item--img-3 .content__item-screen:before {
        content: '';
        width: 300px;
        width: 388px;
        height: 613px;
        display: block;
        background: url("../images/illustations/custom.png") no-repeat 0 0;
        position: absolute;
        top: 82px;
        left: -2px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .content__item--img-3 .content__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/illustations/custom@2x.png");
            background-size: 388px 613px; } }
    @media screen and (max-width: 1149px) {
      .content__item--img-3 .content__item-screen:before {
        width: 35%;
        height: 100%;
        background-size: 100% auto;
        background-position: 50% 50%;
        top: 0;
        left: 0; } }
    @media screen and (max-width: 869px) {
      .content__item--img-3 .content__item-screen {
        min-height: auto; }
        .content__item--img-3 .content__item-screen:before {
          width: 300px;
          height: 300px;
          margin: 0 0 30px;
          position: relative;
          top: 5px;
          left: 0;
          background-size: contain;
          background-position: 50% 0; } }
    .content__item--img-4 .content__item-screen {
      min-height: 701px; }
      .content__item--img-4 .content__item-screen:before {
        content: '';
        width: 583px;
        height: 702px;
        display: block;
        background: url("../images/illustations/transp.png") no-repeat 0 0;
        position: absolute;
        top: 28px;
        right: -86px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .content__item--img-4 .content__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/illustations/transp@2x.png");
            background-size: 702px 583px; } }
    @media screen and (max-width: 1149px) {
      .content__item--img-4 .content__item-screen:before {
        width: 55%;
        height: 100%;
        background-size: 100% auto;
        background-position: 50% 50%;
        top: 0;
        right: -130px; } }
    @media screen and (max-width: 869px) {
      .content__item--img-4 .content__item-screen {
        min-height: auto; }
        .content__item--img-4 .content__item-screen:before {
          width: 300px;
          height: 300px;
          position: relative;
          top: -10px;
          left: 40px;
          background-size: cover;
          background-position: 50% 0; } }
    .content__item--img-5 .content__item-screen {
      min-height: 795px; }
      .content__item--img-5 .content__item-screen:before {
        content: '';
        width: 535px;
        height: 589px;
        display: block;
        background: url("../images/illustations/on-p.png") no-repeat 0 0;
        position: absolute;
        top: 216px;
        left: -84px; }
        @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
          .content__item--img-5 .content__item-screen:before {
            /* on retina, use image that's scaled by 2 */
            background-image: url("../images/illustations/on-p@2x.png");
            background-size: 589px 535px; } }
    @media screen and (max-width: 1149px) {
      .content__item--img-5 .content__item-screen:before {
        width: 50%;
        height: 100%;
        background-size: 100% auto;
        background-position: 50% 60%;
        top: 0;
        left: -70px; } }
    @media screen and (max-width: 869px) {
      .content__item--img-5 .content__item-screen {
        min-height: auto; }
        .content__item--img-5 .content__item-screen:before {
          width: 300px;
          height: 300px;
          position: relative;
          top: 20px;
          left: 0;
          background-size: cover;
          background-position: 50% 0; } }
  .content__info {
    width: 480px; }
    @media screen and (max-width: 869px) {
      .content__info {
        width: 100%;
        text-align: center; } }
  .content__title {
    padding: 0 0 29px;
    font-family: "latobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.6rem;
    line-height: 4.8rem; }
    @media screen and (max-width: 869px) {
      .content__title {
        padding: 0 0 15px;
        font-size: 2.2rem;
        line-height: 3.2rem; } }
  .content__article {
    font-family: "latomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    line-height: 3.8rem; }
    @media screen and (max-width: 869px) {
      .content__article {
        font-size: 1.7rem;
        line-height: 3rem; } }
  .content__button {
    margin: 25px 0 0;
    padding: 0 40px;
    display: inline-block;
    border: 2px solid #d0e0fe;
    border-radius: 4px;
    font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    line-height: 6rem; }
    @media screen and (max-width: 869px) {
      .content__button {
        padding: 0 30px;
        font-size: 1.7rem;
        line-height: 4.7rem; } }
    .content__button:hover {
      border-color: #e4eeff;
      background-color: #e4eeff;
      color: #015ffc; }

.benefits {
  padding: 127px 0 117px;
  position: relative; }
  @media screen and (max-width: 869px) {
    .benefits {
      padding: 20px 0 25px; } }
  .benefits__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    padding: 0 150px;
    margin: 0 auto;
    position: relative; }
    @media screen and (max-width: 869px) {
      .benefits__inner {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0; } }
  .benefits__item {
    position: relative;
    text-align: center; }
    @media screen and (max-width: 869px) {
      .benefits__item {
        padding: 25px 0; } }
  .benefits__image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 43px;
    margin: 0 0 17px; }
  .benefits__name {
    font-family: "latomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    color: #7687a6; }
    @media screen and (max-width: 869px) {
      .benefits__name {
        font-size: 1.7rem; } }

.try {
  padding: 187px 0 200px;
  background: #1579fb;
  /* Old browsers */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1NzlmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyM2NjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1579fb 0%, #23ccfc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative; }
  @media screen and (max-width: 1149px) {
    .try {
      padding: 87px 0 100px; } }
  @media screen and (max-width: 869px) {
    .try {
      padding: 27px 0 40px; } }
  .try__inner {
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 1023px) {
      .try__inner {
        padding-right: 30px;
        padding-left: 30px; } }
  .try__title {
    font-family: "latobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.6rem;
    line-height: 5.4rem;
    color: #FFF;
    text-align: center; }
    @media screen and (max-width: 869px) {
      .try__title {
        font-size: 2.6rem;
        line-height: 3.6rem;
        text-align: center; } }
  .try-form {
    padding: 67px 0 0;
    margin: 0 -20px; }
    @media screen and (max-width: 869px) {
      .try-form {
        padding: 0;
        margin: 0; } }
    .try-form__cols {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 869px) {
        .try-form__cols {
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          padding: 25px 0 0; } }
    .try-form__buttons {
      padding: 20px 0 0;
      text-align: center; }
      @media screen and (max-width: 869px) {
        .try-form__buttons {
          padding: 0; } }
    .try-form__col {
      width: 50%; }
      @media screen and (max-width: 869px) {
        .try-form__col {
          width: 100%; } }
    .try-form__item {
      width: 100%;
      padding: 0 20px 40px; }
      @media screen and (max-width: 869px) {
        .try-form__item {
          padding: 0 0 15px; } }
      .try-form__item--text {
        height: 100%; }
    .try-form__input, .try-form__textarea {
      width: 100%;
      padding: 0 0 0 30px;
      background-color: #FFF;
      border-radius: 4px;
      border: none;
      font-family: "latomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px; }
      .try-form__input::-webkit-input-placeholder, .try-form__textarea::-webkit-input-placeholder {
        color: #7393c1; }
      .try-form__input:-ms-input-placeholder, .try-form__textarea:-ms-input-placeholder {
        color: #7393c1; }
      .try-form__input::placeholder, .try-form__textarea::placeholder {
        color: #7393c1; }
    .try-form__input {
      height: 64px; }
    .try-form__textarea {
      height: 272px;
      padding: 20px 30px;
      margin: 0; }
      @media screen and (max-width: 869px) {
        .try-form__textarea {
          height: 150px; } }
    .try-form__button {
      height: 64px;
      line-height: 6.4rem;
      text-align: center; }
      .try-form__button > span {
        width: 100%;
        height: 64px;
        padding: 0 50px;
        background-color: #0160fc;
        border-radius: 4px;
        display: inline-block;
        font-family: "latobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        color: #FFF; }
      .try-form__button:hover > span {
        background-color: #0253d6; }

.contacts {
  padding: 79px 0;
  position: relative; }
  @media screen and (max-width: 869px) {
    .contacts {
      padding: 25px 0 22px; } }
  .contacts__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #878e9a; }
    @media screen and (max-width: 1023px) {
      .contacts__inner {
        padding-right: 30px;
        padding-left: 30px; } }
    @media screen and (max-width: 869px) {
      .contacts__inner {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media screen and (max-width: 869px) {
    .contacts__col {
      padding: 12px 0;
      text-align: center; } }
  .contacts__title {
    padding: 0 0 16px;
    position: relative;
    font-family: "latoheavy", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: #2e2f30; }
    @media screen and (max-width: 869px) {
      .contacts__title {
        padding: 0 0 3px; } }
  .contacts__article {
    padding: 0 40px 0 0; }
    @media screen and (max-width: 869px) {
      .contacts__article {
        padding: 0; } }
  .contacts__list-item {
    padding: 0 0 5px; }
    .contacts__list-item:last-child {
      padding: 0; }

.thank-you-page {
  background-color: #f5f8fe; }
  .thank-you-page #container {
    min-height: 100%; }
  .thank-you-page .top__nav-wrap {
    display: none; }
  .thank-you-page .top__nav-mob {
    display: none; }

.thank-you {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 115px 60px;
  z-index: 11; }
  @media screen and (max-width: 1023px) {
    .thank-you {
      padding: 0 30px; } }
  @media screen and (max-width: 869px) {
    .thank-you {
      position: relative; } }
  .thank-you__inner {
    width: 100%;
    max-width: 1080px;
    min-height: 275px;
    margin: 0 auto;
    position: relative; }
  .thank-you__article {
    width: 100%;
    padding: 0 300px 62px 0;
    margin: 60px 0 80px;
    border-bottom: 2px solid #e1e8f5;
    position: relative; }
    .thank-you__article:before {
      content: '';
      width: 275px;
      height: 275px;
      background: url("../images/thank-icon.png") no-repeat 0 0;
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      bottom: auto;
      left: auto; }
      @media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .thank-you__article:before {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../images/thank-icon@2x.png");
          background-size: 275px 275px; } }
    @media screen and (max-width: 1023px) {
      .thank-you__article {
        padding: 0 220px 37px 0;
        margin: 60px 0 55px; }
        .thank-you__article:before {
          width: 200px;
          height: 200px;
          background-size: cover; } }
    @media screen and (max-width: 869px) {
      .thank-you__article {
        padding: 20px 0 25px;
        margin: 0 0 39px; }
        .thank-you__article:before {
          width: 100px;
          height: 100px;
          position: relative;
          margin: 0 0 35px; } }
  .thank-you__title {
    padding: 0 0 28px;
    font-family: "latobold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.6rem;
    line-height: 4.8rem; }
    @media screen and (max-width: 869px) {
      .thank-you__title {
        padding: 0 0 10px;
        font-size: 2.2rem;
        line-height: 3.2rem; } }
  .thank-you__paragraph {
    padding: 0 0 8px;
    font-family: "latomedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2.2rem;
    line-height: 3.8rem; }
    @media screen and (max-width: 869px) {
      .thank-you__paragraph {
        font-size: 1.7rem;
        line-height: 3rem; }
        .thank-you__paragraph + p {
          margin-top: 10px; } }

.bottom {
  padding: 58px 0;
  border-top: 1px solid #e4e6ea;
  position: relative; }
  @media screen and (max-width: 1023px) {
    .bottom {
      padding: 30px 0; } }
  .bottom__inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 1023px) {
      .bottom__inner {
        padding-right: 30px;
        padding-left: 30px; } }
    @media screen and (max-width: 1023px) {
      .bottom__inner {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media screen and (max-width: 1023px) {
    .bottom__left-side {
      -webkit-order: 2;
          -ms-flex-order: 2;
              order: 2; } }
  .bottom__right-side {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1023px) {
      .bottom__right-side {
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1; } }
  .bottom__copyright {
    color: #878e9a; }
    @media screen and (max-width: 1023px) {
      .bottom__copyright {
        padding: 30px 0 0; } }

.social {
  padding: 5px 10px 5px 0;
  border-right: 1px solid #e4e6ea;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .social > a {
    margin: 0 30px 0 0;
    display: inline-block; }

.iab-logo {
  margin: -12px 0 0;
  padding: 0 0 0 40px; }
