+b('section').try
	+e.inner
		+e('p').title Ready to get started?
		+e('form')(action="https://crm.zoho.eu/crm/WebToLeadForm", name="#", class="form-horizontal", id="reg_form", method="POST", onBeforeSubmit='checkForm();', accept-charset='UTF-8')
			+b('input')(type='text', style='display:none;', name='xnQsjsdp', value='7355b0063de6fc6c9f89b25eb0939a70f00f1259c4917e5ed15fe59a91b41783')
			+b('input')(type='hidden', name='zc_gad', id='zc_gad', value='')
			+b('input')(type='text', style='display:none;', name='xmIwtLD', value='b0edb8ce90533135772a0bc87cef0b78b1448fa4f90cf90f4cb8d4b5f4d56cba')
			+b('input')(type='text', style='display:none;', name='actionType', value='TGVhZHM=')
			+b('input')(type='text', style='display:none;', name='returnURL', value='https&#x3a;&#x2f;&#x2f;platform.io&#x2f;thanks.html')
			+b.try-form
				+e.cols
					+e.col
						+e.item
							+e('input').input(placeholder="Name", required="true", name="Name")
						+e.item
							+e('input').input(placeholder="Website", required="true", name="Website")
						+e.item
							+e('input').input(placeholder="Email", required="true", name="Email")
					+e.col
						+e.item.--text
							+e('textarea').textarea(placeholder="How we can help?", required="true", name="Text", cols="30", rows="5")
				+e.buttons
					+e('button').button
						+e('span') Get a Demo