.bottom {
	padding: 58px 0;
	border-top: 1px solid #e4e6ea;
	position: relative;
	@media #{$M_SMX} {
		padding: 30px 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include inner-block;
		@media #{$M_SMX} {
			flex-direction: column;
		}
	}
	&__left-side {
		@media #{$M_SMX} {
			order: 2;
		}
	}
	&__right-side {
		display: flex;
		@media #{$M_SMX} {
			order: 1;
		}
	}
	&__copyright {
		color: $grey;
		@media #{$M_SMX} {
			padding: 30px 0 0;
		}
	}
}

.social {
	padding: 5px 10px 5px 0;
	border-right: 1px solid #e4e6ea;
	display: flex;
	& > a {
		margin: 0 30px 0 0;
		display: inline-block;
	}
}

.iab-logo {
	margin: -12px 0 0;
	padding: 0 0 0 40px;
}