+b('footer').bottom
	+e.inner
		+e.left-side
			+e.copyright &copy; 2017 Platform Inc.
		+e.right-side
			+b.social
				+e('a').lin(href="#")
					+e('img')(src="assets/images/social/li-icon.svg", width="25")
				+e('a').fb(href="#")
					+e('img')(src="assets/images/social/fb-icon.svg", width="25")
			+b.iab-logo
				+e('img')(src="assets/images/iab-logo.png", width="40")