.thank-you-page {
	background-color: #f5f8fe;
	#container {
		min-height: 100%;
	}
	.top__nav-wrap {
		display: none;
	}
	.top__nav-mob {
		display: none;
	}
}

.thank-you {
	@include absolute(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 115px 60px;
	z-index: 11;
	@media #{$M_SMX} {
		padding: 0 30px;
	}
	@media #{$M_XSM} {
		position: relative;
	}
	&__inner {
		width: 100%;
		max-width: 1080px;
		min-height: 275px;
		margin: 0 auto;
		position: relative;
	}
	&__article {;
		width: 100%;
		padding: 0 300px 62px 0;
		margin: 60px 0 80px;
		border-bottom: 2px solid #e1e8f5;
		position: relative;
		&:before {
			content: '';
			width: 275px;
			height: 275px;
			background: url('../images/thank-icon.png') no-repeat 0 0;
			@include image-2x('../images/thank-icon@2x.png', 275px, 275px);
			display: block;
			@include absolute(10px, 0, auto, auto);
		}
		@media #{$M_SMX} {
			padding: 0 220px 37px 0;
			margin: 60px 0 55px;
			&:before {
				width: 200px;
				height: 200px;
				background-size: cover;
			}
		}
		@media #{$M_XSM} {
			padding: 20px 0 25px;
			margin: 0 0 39px;
			&:before {
				width: 100px;
				height: 100px;
				position: relative;
				margin: 0 0 35px;
			}
		}
	}
	&__title {
		padding: 0 0 28px;
		@include font-bold;
		font-size: 3.6rem;
		line-height: 4.8rem;
		@media #{$M_XSM} {
			padding: 0 0 10px;
			font-size: 2.2rem;
			line-height: 3.2rem;
		}
	}
	&__paragraph {
		padding: 0 0 8px;
		@include font-medium;
		font-size: 2.2rem;
		line-height: 3.8rem;
		@media #{$M_XSM} {
			font-size: 1.7rem;
			line-height: 3rem;
			& + p {
				margin-top: 10px;
			}
		}
	}
}