+b('section').thank-you
	+e.inner
		+e.article
			+e('h1').title Thank you!
			+e('p').paragraph It’s great, that you are interested in 
				+e('strong') Platform.io.
				br
				| You will receive an email with an invitation to a demo shortly.
			+e('p').paragraph Meanwhile you can address all your questions directly
				br
				| in 
				+e('strong') Platform.io website chat.
			+e('p').paragraph Let’s discover the possibilities.
		+b('a').button-1(href="#") Go back to the main page